
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7e6ae0;
}

.container {
    text-align: center;
    background-color: #5646aa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

button {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #6a58cc;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 5px #4e3c99;
    margin-top: 20px;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 1px #4e3c99;
}

button:hover {
    background-color: #7e6ae0;
}

.message-box {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #7e6ae0;
    background-color: #6a58cc;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}
